include .travis.yml
include .version
include AUTHORS
include CONTRIBUTING.md
include COPYING
include ChangeLog
include MANIFEST
include MANIFEST.in
include Makefile.am
include Makefile.in
include NEWS
include PKG-INFO
include README
include aclocal.m4
include build-aux/compile
include build-aux/config.guess
include build-aux/config.sub
include build-aux/depcomp
include build-aux/install-sh
include build-aux/ltmain.sh
include build-aux/missing
include build-aux/py-compile
include build-aux/tap-driver.sh
include build-aux/test-driver
include config.h.in
include configure
include configure.ac
include dbus-gmain/AUTHORS
include dbus-gmain/CONTRIBUTING.md
include dbus-gmain/COPYING
include dbus-gmain/Makefile.am
include dbus-gmain/Makefile.in
include dbus-gmain/README.md
include dbus-gmain/dbus-gmain.c
include dbus-gmain/dbus-gmain.h
include dbus-gmain/tests/30574.c
include dbus-gmain/tests/test-thread-client.c
include dbus-gmain/tests/test-thread-server.c
include dbus-gmain/tests/test-thread.h
include dbus-gmain/tests/util.c
include dbus-gmain/tests/util.h
include dbus-python.pc.in
include dbus/__init__.py
include dbus/_compat.py
include dbus/_dbus.py
include dbus/_expat_introspect_parser.py
include dbus/bus.py
include dbus/connection.py
include dbus/decorators.py
include dbus/exceptions.py
include dbus/gi_service.py
include dbus/glib.py
include dbus/gobject_service.py
include dbus/lowlevel.py
include dbus/mainloop/__init__.py
include dbus/mainloop/glib.py
include dbus/proxies.py
include dbus/server.py
include dbus/service.py
include dbus/types.py
include dbus_bindings/abstract.c
include dbus_bindings/bus.c
include dbus_bindings/bytes.c
include dbus_bindings/compat-internal.h
include dbus_bindings/conn-internal.h
include dbus_bindings/conn-methods.c
include dbus_bindings/conn.c
include dbus_bindings/containers.c
include dbus_bindings/dbus_bindings-internal.h
include dbus_bindings/debug.c
include dbus_bindings/exceptions.c
include dbus_bindings/float.c
include dbus_bindings/generic.c
include dbus_bindings/int.c
include dbus_bindings/libdbusconn.c
include dbus_bindings/mainloop.c
include dbus_bindings/message-append.c
include dbus_bindings/message-get-args.c
include dbus_bindings/message-internal.h
include dbus_bindings/message.c
include dbus_bindings/module.c
include dbus_bindings/pending-call.c
include dbus_bindings/server.c
include dbus_bindings/signature.c
include dbus_bindings/string.c
include dbus_bindings/types-internal.h
include dbus_bindings/unixfd.c
include dbus_bindings/validation.c
include dbus_glib_bindings/module.c
include dbus_python.egg-info/PKG-INFO
include dbus_python.egg-info/SOURCES.txt
include dbus_python.egg-info/dependency_links.txt
include dbus_python.egg-info/top_level.txt
include doc/API_CHANGES.txt
include doc/PY3PORT.txt
include doc/_static/.gitignore
include doc/conf.py
include doc/dbus.bus.rst
include doc/dbus.connection.rst
include doc/dbus.decorators.rst
include doc/dbus.exceptions.rst
include doc/dbus.gi_service.rst
include doc/dbus.glib.rst
include doc/dbus.gobject_service.rst
include doc/dbus.lowlevel.rst
include doc/dbus.mainloop.rst
include doc/dbus.proxies.rst
include doc/dbus.rst
include doc/dbus.server.rst
include doc/dbus.service.rst
include doc/dbus.types.rst
include doc/index.rst
include doc/news.rst
include doc/redirects
include doc/redirects.py
include doc/tutorial.txt
include examples/example-async-client.py
include examples/example-client.py
include examples/example-service.py
include examples/example-signal-emitter.py
include examples/example-signal-recipient.py
include examples/gconf-proxy-client.py
include examples/gconf-proxy-service2.py
include examples/list-system-services.py
include examples/unix-fd-client.py
include examples/unix-fd-service.py
include include/dbus/dbus-python.h
include m4/ax_append_compile_flags.m4
include m4/ax_append_flag.m4
include m4/ax_append_link_flags.m4
include m4/ax_check_compile_flag.m4
include m4/ax_check_link_flag.m4
include m4/ax_compiler_flags.m4
include m4/ax_compiler_flags_cflags.m4
include m4/ax_compiler_flags_gir.m4
include m4/ax_compiler_flags_ldflags.m4
include m4/ax_is_release.m4
include m4/ax_python_devel.m4
include m4/ax_python_module.m4
include m4/ax_require_defined.m4
include m4/libtool.m4
include m4/ltoptions.m4
include m4/ltsugar.m4
include m4/ltversion.m4
include m4/lt~obsolete.m4
include m4/pkg.m4
include setup.py
include test/TestSuitePythonService.service.in
include test/cross-test-client.py
include test/cross-test-server.py
include test/crosstest.py
include test/dbus_py_test.c
include test/import-repeatedly.c
include test/run-test.sh
include test/test-client.py
include test/test-exception-py2.py
include test/test-exception-py3.py
include test/test-p2p.py
include test/test-service.py
include test/test-signals.py
include test/test-standalone.py
include test/test-unusable-main-loop.py
include test/tmp-session-bus.conf.in
include test/wait-for-name.py
include tools/check-c-style.sh
include tools/check-coding-style.mk
include tools/check-py-style.sh
include tools/check-whitespace.sh
